---
import PostCard from "components/PostCard.astro";
import Layout from "layouts/Layout.astro";
const posts = await Astro.glob("./post/*.md");
---

<Layout title="blog">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {posts.map((post) => (
    <PostCard {post} />
    ))}
  </div>
</Layout>